.blood-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    pointer-events: none;
}

.blood {
    width: 200px;
    image-rendering: pixelated;
}