.container-hud {
  z-index: 2;
}

.health-bar {
  background-color: black;
  padding: 12px 5px;
  border: 1px solid #eee;
  border-radius: 12px;
}


.skull-icon-hud {
  image-rendering: pixelated;
  width: 96px;
  height: 96px;
}

.health {
  image-rendering: pixelated;
  width: 48px;
  height: 48px;
}

/* desktop only */
@media (min-width: 768px) {
  .skull-icon-hud {
    width: 155px;
    height: 155px;
  }

  .health {
    width: 85px;
    height: 85px;
  }
}