.gameover-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.skull-gameOver{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    image-rendering: pixelated;
}