* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'MinecraftFont';
    src: url(public/font/minecraft.ttf);
}

body {
    background-color: #151515;
    font-family: 'MinecraftFont';
    color: #eee;
    letter-spacing: 1px;
}
